<div class="card">
  <% if article.image.attached? %>
    <%= link_to (image_tag article.image,  class: :card__img ), article_path(article.id) %>
  <% else %>
    <%= link_to (image_tag "cloud.png", class: :card__img), article_path(article.id) %>
  <% end %>
  <div class="card__body">
    <%= link_to article.title, article_path(article.id), class: :card__title%>
    <p class="card__category">
      <%= article.category.name %>
    </p>
    <p class="card__created">
      <%= "作成日 #{article.created_at.strftime('%Y/%m/%d')}" %>
    </p>
    <%= link_to "by #{article.user.nickname}", user_path(article.user_id), class: :card__user %>
    <div class="card__icon">
      <% if user_signed_in? %>
        <% if current_user.own?(article) %>
          <%= link_to article_path(article.id), method: :delete do %>
            <%= icon "far", "trash-alt", class: "fa-lg" %>
          <% end %>
          <%= link_to edit_article_path(article.id) do %>
          <%= icon "far", "edit", class: "fa-lg" %>
          <% end %>
        <% else %>
        <div class="like" id="like-button-<%= article.id %>" >
          <%= render 'likes/like_button' , article: article %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>