<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @article.title %>
      </p>
      <%= link_to "by #{@article.user.nickname}", user_path(@article.user_id), class: :prototype__user %>
      <% if user_signed_in?%>
        <% if @article.user_id == current_user.id %>
          <div class="prototype__manage">
            <%= link_to "編集する", edit_article_path(@article.id), class: :prototype__btn %>
            <%= link_to "削除する", article_path(@article.id), method: :delete, class: :prototype__btn %>
          </div>
        <% end %>
      <% end %>
      <div class="prototype__image">
        <% if @article.image.attached? %>
          <%= image_tag @article.image %>
        <% else %>
          <%= image_tag "cloud.png" %>
        <% end %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">内容</p>
          <p class="detail__message">
            <%= @article.content %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">カテゴリー</p>
          <p class="detail__message">
            <%= @article.category.name %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if user_signed_in? %> <%# ログインしていればコメント投稿ができる %>
          <%= form_with model: [@article, @comment],local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment|%>
            <li class="comments_list">
              <%= comment.text%>
              <%= link_to comment.user.nickname, user_path(comment.user_id), class: :comment_user %>
              <% if comment.user.id == current_user.id %>
                <%= link_to "削除", article_comment_path(comment.article.id, comment.id), method: :delete, class: :comment_delete %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
